<?php
$meta_title = Configure::read('html.cart');
$meta_keywords = Configure::read('html.cart');
$meta_description = Configure::read('html.cart');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

// ポイント
$arrPointList = Configure::read('arrPointList');

// ポイント購入金額
$arrPointRateList = Configure::read('arrPointRateList');

// 支払方法
$arrPaymentMethod = Configure::read('arrPaymentMethod');

$code_area = <<< EOF
EOF;
$this->assign('script_area', $code_area);
?>

<nav class="bread-crumbs">
  <ul>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url">
        <span itemprop="title">トップ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>

    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/mypage" itemprop="url">
        <span itemprop="title">マイページ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>

    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/cart/buy_point" itemprop="url">
        <span itemprop="title">ポイント購入</span>
      </a>
    </li>
  </ul>
</nav>

<main class=" l-container clearfix">
  <div class="l-content">
    <section class="l-chapter-container mypage-identification">
      <h2 class="l-chapter-head">ポイント購入</h2>

      <?= $this->Form->create('Item', array('url' => '/cart/buy_point', 'method' => 'post','class' => 'l-single-inner', 'role'=>'form')); ?>
      <div class="form-group">
        <p>購入金額：1,080</p>
        <p>購入ポイント：1,000&nbsp;PT</p>
      </div>

      <div class="form-group">
        <p>購入金額：2,160</p>
        <p>購入ポイント：2,000&nbsp;PT</p>
      </div>

      <div class="form-group">
        <p>購入金額：3,240</p>
        <p>購入ポイント：3,000&nbsp;PT</p>
      </div>

      <div class="form-group">
        <p>購入金額：5,400</p>
        <p>購入ポイント：5,750&nbsp;PT<span style="color: red">（15％UP!!）</span> </p>
      </div>

      <div class="form-group">
        <p>購入金額：10,800</p>
        <p>購入ポイント：12,000&nbsp;PT（20％UP!!）</p>
      </div>

      <div class="form-group">
        <p>購入金額：32,400</p>
        <p>購入ポイント：37,500&nbsp;PT（25％UP!!）</p>
      </div>

      <div class="form-group">
        <label>購入金額</label>
        <br>
        <div class="select-wrap">
          <i class="icon-arrow-bottom"></i>
          <select name="data[point]" class="select-default">
            <option value="1000">1,000</option>
            <option value="2000">2,000</option>
            <option value="3000">3,000</option>
            <option value="5750">5,750</option>
            <option value="12000">12,000</option>
            <option value="37500">37,500</option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>決済方法</label>
        <br>
        <div class="select-wrap">
          <i class="icon-arrow-bottom"></i>
          <select name="data[payment_method]" class="select-default">
            <?php foreach($arrPaymentMethod as $value => $name): ?>
            <option value="<?= $value ?>"><?= $name ?></option>
            <?php endforeach; ?>
          </select>
        </div>
      </div>

      <button type="submit" class="btn-default btn-red">登録する</button>

      <?= $this->Form->end(); ?>
    </section>
  </div>

  <?= $this->element('mypage_nav', ['strPage' => $strPage]) ?>
</main>
