<?php
$meta_title = Configure::read('html.cart');
$meta_keywords = Configure::read('html.cart');
$meta_description = Configure::read('html.cart');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$this->Html->css('/css/main02.css', null, array('inline' => false));
$referer = @$_SERVER["HTTP_REFERER"];
if(empty($referer) || strpos($referer,'/cart') !== false){
  $referer = '/item/category';
}

$arrMember = $arrAuthMember['Member'];

$isPoint = true;
if($arrMember['point'] < $arrCart['sumTotal']){
  $isPoint = false;
}

$code_area = <<< EOF
EOF;
$this->assign('script_area', $code_area);
?>

<div class="single-container">
  <header class="single-header">
    <h1>
      <a href="/">
        <img src="/yoshida/img/mallento_furimo_LP1.png">
      </a>
    </h1>
  </header>

  <main class="single-main">
    <section class="l-single-container buy-item-container">
      <h2 class="l-single-head buy-head">ポイント決済する</h2>

      <?php echo $this->Form->create('OrderItem', array('id' => 'OrderItemForm', 'url' => '/cart/clearance', 'type' => 'file', )); ?>
      <?php echo $this->Form->input('mode', array('label' => false, 'type' => 'hidden', 'value' => 'order', )) ?>

      <?php if(!empty($arrCart['list'])): ?>
      <?php foreach($arrCart['list'] as $row): ?>

      <?php
        $r['Item']['main_image_file_name'] = $row['imgurl'];
        $r['Item']['id'] = $row['item_id'];
        $img_url = $this->Upload->uploadUrl($r,'Item.main_image',array('style'=>'list_l'));

      $img_path = str_replace(WWW_ROOT,'/',$img_url);
      if(!$img_path || substr_count($img_url, '.') > 1){
      $img_url = "/img/front_s.png";
      }
      ?>
      <section class="buy-content buy-item">
        <div class="buy-content-inner">
          <div class="buy-item-box">
            <h3 class="buy-item-image">
              <img data-src="<?= $img_url ?>" class=" lazyloaded" alt="" src="<?= $img_url ?>">
            </h3>
            <div class="buy-item-detail">
              <p class="buy-item-name"><?= $row['item_name'] ?></p>

              <p class="buy-price-ja bold">
                <span>¥<?= number_format($row['price'])?></span>
                <span class="item-shipping-fee">（税込）</span>
              </p>
            </div>
          </div>
        </div>
      </section>

      <?php endforeach; ?>
      <?php endif; ?>

      <section class="buy-content buy-item">
        <div class="buy-content-inner">
          <form class="buy-form" novalidate="novalidate">

            <ul class="buy-price-table">
              <li class="buy-price-row buy-you-pay bold">
                <div class="buy-price-cell buy-price-cell-label">支払い金額</div>
                <div class="buy-price-cell">
                  <span>¥<?= number_format($arrCart['sumTotal']) ?></span>
                </div>
              </li>

              <li class="buy-price-row buy-you-pay bold">
                <div class="buy-price-cell buy-price-cell-label">現在の保有ポイント数</div>
                <div class="buy-price-cell">
                  <span><?php echo number_format($arrMember['point']) ?></span>
                </div>
              </li>
            </ul>


            <?php if($isPoint): ?>
            <section class="buy-content">
              <a href="javascript:void(0);" onclick="$('#OrderItemForm').submit();" class="btn-default btn-red bold">ポイント決済する</a>
              <a href="<?php echo $referer ?>" class="btn-default btn-gray bold" style="margin-top: 24px">買い物を続ける</a>
            </section>
            <?php else: ?>
            <p class="has-error-text">
              ポイントが足りません。ポイント購入するボタンからポイントを購入してください。
            </p>

            <a href="/cart/buy_point" class="btn-default btn-red bold">ポイント購入する</a>
            <a href="<?php echo $referer ?>" class="btn-default btn-gray bold" style="margin-top: 24px">買い物を続ける</a>
            <?php endif; ?>


          </form>
        </div>
        <section>
        </section>
      </section>

      <?php echo $this->Form->end(); ?>
    </section>
  </main>

</div>
