<?php
$meta_title = Configure::read('html.mypage');
$meta_keywords = Configure::read('html.mypage');
$meta_description = Configure::read('html.mypage');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$this->Html->css('/css/main02.css', null, array('inline' => false));

$code_area = <<< EOF
EOF;
$this->assign('code_area', $code_area);
?>

<nav class="bread-crumbs">
  <ul>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url">
        <span itemprop="title">トップ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>

    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/mypage" itemprop="url">
        <span itemprop="title">マイページ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>

    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/mypage/cashing" itemprop="url">
        <span itemprop="title">換金申請</span>
      </a>
    </li>
  </ul>
</nav>

<main class=" l-container clearfix">
  <div class="l-content">
    <section class="l-chapter-container mypage-identification">
      <h2 class="l-chapter-head">換金申請</h2>

      <?php echo $this->Form->create('CashingData', array('id' => 'CashingDataForm', 'url' => '/mypage/cashing/', 'class' => 'l-single-inner', )); ?>
      <?php echo $this->Form->input('mode', array('label' => false, 'type' => 'hidden', 'value' => 'complete', )) ?>
      <?php echo $this->Form->input('member_id', array('label' => false, 'type' => 'hidden', 'value' => $arrData['CashingData']['member_id'], )) ?>

      <div class="form-group">
        <label>現在の保有ポイント数</label>
        <p><?php echo number_format($arrData['Member']['point']) ?></p>
      </div>

      <div class="form-group">
        <label>換金申請できる金額（円）</label>
        <p><?php echo number_format($cashingPossible) ?></p>
      </div>

      <div class="form-group">
        <label>最低換金額（円）</label>
        <p><?php echo number_format($cashingMinMoney) ?></p>
      </div>

      <div class="form-group">
        <label>現在の換金申請している金額</label>
        <p>
          <?php echo number_format($arrCashingData['CashingData']['total_money']) ?>
          <?php if(!empty($arrCashingData['CashingData']['total_money'])) echo '（換金申請手数料 '.number_format($arrCashingData['CashingData']['total_fee']).'）' ?>
        </p>
      </div>

      <div class="form-group">
        <label>今回換金申請した金額</label>
        <p><?php echo number_format($arrData['CashingData']['money'] + $arrData['CashingData']['fee']) ?></p>
      </div>

      <div class="form-group">
        <label>換金申請手数料</label>
        <p><?php echo number_format($arrData['CashingData']['fee']) ?></p>
      </div>

      <button type="submit" class="btn-default btn-red">換金を申請する</button>

      <?php echo $this->Form->end(); ?>

    </section>
  </div>

  <?= $this->element('mypage_nav', ['strPage' => $strPage]) ?>
</main>