<?php
$meta_title = Configure::read('html.register');
$meta_keywords = Configure::read('html.register');
$meta_description = Configure::read('html.register');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$this->Html->css('/css/main02.css', null, array('inline' => false));

$arrGender = Configure::read('arrGender');
$arrMailMagFlg = Configure::read('arrMailMagFlg');

if(isset($arrData['Member']['birthday'])){
$minYear = date('Y')-60;
$maxYear = date('Y')-10;
$defYear = @date('Y',strtotime($arrData['Member']['birthday']));
$defMonth = @date('m',strtotime($arrData['Member']['birthday']));
$defDay = @date('d',strtotime($arrData['Member']['birthday']));
$birthdayOption = array(
'minYear' => $minYear,
'maxYear' => $maxYear,
'separator' => array('<p class="alignleft mr10">年</p>','<p class="alignleft mr10">月</p>','<p class="alignleft mr10">
  日</p>'),
'default' => array('year' => $defYear,'month' => $defMonth,'day' => $defDay),
'class'=>'datetimeStyle alignleft mr10',
'monthNames' => false
);
}

$code_area = <<< EOF
EOF;
$this->assign('code_area', $code_area);
?>

<nav class="bread-crumbs">
  <ul>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url">
        <span itemprop="title">トップ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>

    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/mypage" itemprop="url">
        <span itemprop="title">マイページ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>

    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/mypage/profile" itemprop="url">
        <span itemprop="title">プロフィール</span>
      </a>
    </li>
  </ul>
</nav>

<main class=" l-container clearfix">
  <div class="l-content">
    <?php if(isset($arrData['Member']['name'])): ?>
    <section class="l-chapter-container mypage-identification">
      <h2 class="l-chapter-head">本人情報の登録</h2>

      <?php echo $this->Form->create('Member', array('url' => '/mypage/profile/', 'class' => 'l-single-inner', 'type' => 'file', )); ?>
      <?php echo $this->Form->input('id', array('label' => false, 'type' => 'hidden', 'value' => $arrData['Member']['id'], )) ?>
      <?php echo $this->Form->input('mode', array('label' => false, 'type' => 'hidden', 'value' => 'profile', )) ?>

      <div class="form-group">
        <label>氏名</label>
        <span class="form-require">必須</span>
        <?php echo $this->Form->input('name', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['name'],)) ?>
      </div>

      <div class="form-group">
        <label>氏名(フリガナ)</label>
        <span class="form-require">必須</span>
        <?php echo $this->Form->input('name_kana', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['name_kana'],)) ?>
      </div>

      <div class="form-group">
        <label>会社名</label>
        <?php echo $this->Form->input('company', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['company'],)) ?>
      </div>

      <div class="form-group">
        <label>郵便番号</label>
        <span class="form-require">必須</span>
        <?php echo $this->Form->input('postcode', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['postcode'],)) ?>
      </div>

      <div class="form-group">
        <label>住所</label>
        <span class="form-require">必須</span>
        <?php echo $this->Form->input('address', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['address'],)) ?>
      </div>

      <div class="form-group">
        <label>電話番号</label>
        <span class="form-require">必須</span>
        <?php echo $this->Form->input('phone', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['phone'],)) ?>
      </div>

      <div class="form-group">
        <label>性　別</label>
        <span class="form-require">必須</span>
        <br>
        <div class="birthday-select-wrap">
          <div class="select-wrap">
            <i class="icon-arrow-bottom"></i>
            <select name="data[Member][gender]" class="select-default">
              <?php if ($arrData['Member']['gender'] == 'male'): ?>
              <option value="male" selected>男性</option>
              <?php else: ?>
              <option value="male">男性</option>
              <?php endif; ?>
              <?php if ($arrData['Member']['gender'] == 'female'): ?>
              <option value="female" selected>女性</option>
              <?php else: ?>
              <option value="female">女性</option>
              <?php endif; ?>
            </select>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="birthday">生年月日</label>
        <span class="form-require">必須</span>
        <br>
        <div class="birthday-select-wrap">
          <div class="select-wrap">
            <i class="icon-arrow-bottom"></i>
            <select name="data[Member][birthday][year]" class="select-default" aria-describedby="birthday-error" aria-invalid="true">
              <?php if($arrData['Member']['birthday']['year'] == ''): ?>
              <option value="" selected>--</option>
              <?php else: ?>
              <option value="">--</option>
              <?php endif; ?>
              <?php for($y = $maxYear; $y >= $minYear; $y--): ?>
              <?php if($arrData['Member']['birthday']['year'] == $y): ?>
              <option value="<?= $y ?>" selected><?= $y ?></option>
              <?php else: ?>
              <option value="<?= $y ?>"><?= $y ?></option>
              <?php endif; ?>
              <?php endfor; ?>
            </select>
          </div>
          <span>年</span>
          <div class="select-wrap select-wrap__month">
            <i class="icon-arrow-bottom"></i>
            <select name="data[Member][birthday][month]" class="select-default" aria-describedby="birthday-error" aria-invalid="true">
              <?php if($arrData['Member']['birthday']['month'] == ''): ?>
              <option value="" selected>--</option>
              <?php else: ?>
              <option value="">--</option>
              <?php endif; ?>
              <?php for($m = 1; $m <= 12; $m++): ?>
              <?php if($arrData['Member']['birthday']['month'] == str_pad($m, 2, '0', STR_PAD_LEFT)): ?>
              <option value="<?= str_pad($m, 2, '0', STR_PAD_LEFT) ?>" selected><?= str_pad($m, 2, '0', STR_PAD_LEFT) ?></option>
              <?php else: ?>
              <option value="<?= str_pad($m, 2, '0', STR_PAD_LEFT) ?>"><?= str_pad($m, 2, '0', STR_PAD_LEFT) ?></option>
              <?php endif; ?>
              <?php endfor; ?>
            </select>
          </div>
          <span>月</span>
          <div class="select-wrap select-wrap__day">
            <i class="icon-arrow-bottom"></i>
            <select name="data[Member][birthday][day]" class="select-default" aria-describedby="birthday-error" aria-invalid="true">
              <?php if($arrData['Member']['birthday']['day'] == ''): ?>
              <option value="" selected>--</option>
              <?php else: ?>
              <option value="">--</option>
              <?php endif; ?>
              <?php for($d = 1; $d <= 31; $d++): ?>
              <?php if($arrData['Member']['birthday']['day'] == str_pad($d, 2, '0', STR_PAD_LEFT)): ?>
              <option value="<?= str_pad($d, 2, '0', STR_PAD_LEFT) ?>" selected><?= str_pad($d, 2, '0', STR_PAD_LEFT) ?></option>
              <?php else: ?>
              <option value="<?= str_pad($d, 2, '0', STR_PAD_LEFT) ?>"><?= str_pad($d, 2, '0', STR_PAD_LEFT) ?></option>
              <?php endif; ?>
              <?php endfor; ?>
            </select>
          </div>
          <span>日</span>
        </div>

        <div class="clearfix">
        </div>

      </div>

      <div class="form-group">
        <label>ニックネーム</label>
        <span class="form-require">必須</span>
        <?php echo $this->Form->input('nickname', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['nickname'],)) ?>
      </div>

      <div class="form-group">
        <label>プロフィール紹介文</label>
        <?php echo $this->Form->input('comment', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['comment'],)) ?>
      </div>

      <div class="form-group">
        <label>メールマガジン</label>
        <br>
        <div class="select-wrap">
          <i class="icon-arrow-bottom"></i>
          <select name="data[Member][mailmag_flg]" class="select-default">
            <?php if ($arrData['Member']['mailmag_flg'] == '1'): ?>
            <option value="1" selected>希望する</option>
            <?php else: ?>
            <option value="1">希望する</option>
            <?php endif; ?>
            <?php if ($arrData['Member']['gender'] == 0): ?>
            <option value="0" selected>希望しない</option>
            <?php else: ?>
            <option value="0">希望しない</option>
            <?php endif; ?>
          </select>
        </div>
      </div>

      <div class="form-group">
        <label>銀行名</label>
        <?php echo $this->Form->input('bank_name', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['bank_name'],)) ?>
      </div>

      <div class="form-group">
        <label>支店名</label>
        <?php echo $this->Form->input('branch_name', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['branch_name'],)) ?>
      </div>

      <div class="form-group">
        <label>支店コード</label>
        <?php echo $this->Form->input('branch_code', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['branch_code'],)) ?>
      </div>

      <div class="form-group">
        <label>銀行口座</label>
        <?php echo $this->Form->input('account_no', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['account_no'],)) ?>
      </div>

      <div class="form-group">
        <label>口座名義</label>
        <?php echo $this->Form->input('deposit_name', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['deposit_name'],)) ?>
      </div>

      <button type="submit" class="btn-default btn-red">登録する</button>

      </form>
    </section>
    <?php endif; ?>
    <?php if(isset($arrData['Member']['email'])): ?>
    <section class="l-chapter-container mypage-identification">
      <h2 class="l-chapter-head">メールアドレス変更</h2>

      <?php echo $this->Form->create('Member', array('url' => '/mypage/profile/', 'type' => 'file', 'class' => 'l-single-inner')); ?>
      <?php echo $this->Form->input('id', array('label' => false, 'type' => 'hidden', 'value' => $arrData['Member']['id'], )) ?>
      <?php echo $this->Form->input('mode', array('label' => false, 'type' => 'hidden', 'value' => 'email', )) ?>

      <div class="form-group">
        <label>メールアドレス</label>
        <span class="form-require">必須</span>
        <?php echo $this->Form->input('email', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['email'],)) ?>
      </div>

      <div class="form-group">
        <label>メールアドレス確認</label>
        <span class="form-require">必須</span>
        <?php echo $this->Form->input('email_confirm', array('label' => false, 'div' => false, 'type' => 'text', 'size' => 50, 'class' => 'input-default', 'value' => '' ,)) ?>
      </div>

      <button type="submit" class="btn-default btn-red">登録する</button>

      <?php echo $this->Form->end(); ?>
    </section>
    <?php endif; ?>

    <?php if(isset($arrData['Member']['password'])): ?>
    <section class="l-chapter-container mypage-identification">
      <h2 class="l-chapter-head">パスワード変更</h2>

      <?php echo $this->Form->create('Member', array('url' => '/mypage/profile/', 'type' => 'file', 'class' => 'l-single-inner')); ?>
      <?php echo $this->Form->input('id', array('label' => false, 'type' => 'hidden', 'value' => $arrData['Member']['id'], )) ?>
      <?php echo $this->Form->input('mode', array('label' => false, 'type' => 'hidden', 'value' => 'password', )) ?>

      <div class="form-group">
        <label>パスワード</label>
        <span class="form-require">必須</span>
        <?php echo $this->Form->input('password', array('label' => false, 'div' => false, 'type' => 'password', 'size' => 50, 'class' => 'input-default', 'value' => '',)) ?>
      </div>

      <div class="form-group">
        <label>パスワード確認</label>
        <span class="form-require">必須</span>
        <?php echo $this->Form->input('password_confirm', array('label' => false, 'div' => false, 'type' => 'password', 'size' => 50, 'class' => 'input-default', 'value' => '' ,)) ?>
      </div>

      <div class="form-group">
        <label>パスワードのヒント</label>
        <?php echo $this->Form->input('password_hint', array('label' => false, 'div' => false, 'type' => 'password', 'size' => 50, 'class' => 'input-default', 'value' => $arrData['Member']['password_hint'] ,)) ?>
      </div>

      <button type="submit" class="btn-default btn-red">登録する</button>

      <?php echo $this->Form->end(); ?>
    </section>
    <?php endif; ?>

  </div>

  <?= $this->element('mypage_nav', ['strPage' => $strPage]) ?>
</main>

