<?php
$meta_title = Configure::read('html.withdrawal');
$meta_keywords = Configure::read('html.withdrawal');
$meta_description = Configure::read('html.withdrawal');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$code_area = <<< EOF
EOF;
$this->assign('code_area', $code_area);
?>

<nav class="bread-crumbs">
  <ul>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url">
        <span itemprop="title">トップ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>

    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/mypage" itemprop="url">
        <span itemprop="title">マイページ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>

    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/mypage/withdrawal" itemprop="url">
        <span itemprop="title">退会</span>
      </a>
    </li>
  </ul>
</nav>


<main class=" l-container clearfix">
  <div class="l-content">

    <section class="l-chapter-container mypage-identification">
      <h2 class="l-chapter-head">退会完了</h2>
      <form class="l-single-inner">
        <div class="form-group">
          <p>退会手続きが完了しました。</p>
          <p>またのご利用をお待ちしております。</p>
        </div>

      </form>
    </section>


  </div>

  <?= $this->element('mypage_nav', ['strPage' => $strPage]) ?>
</main>
