<?php
$meta_title = Configure::read('html.aboutus');
$meta_keywords = Configure::read('html.aboutus');
$meta_description = Configure::read('html.aboutus');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$code_area = <<< EOF
EOF;
$this->assign('code_area', $code_area);
?>

<nav class="bread-crumbs ">
  <ul>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url">
        <span itemprop="title">トップ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <span itemprop="title">運営会社</span>
    </li>
  </ul>
</nav>

<section class="static-page">
  <h2 id="privacy">運営会社</h2>
  <div class="static-page-content">
    <section>
      <?php echo $HTML_GUIDE_ABOUT ?>
    </section>
  </div>
</section>
