<?php
$meta_title = Configure::read('html.detail');
$meta_keywords = Configure::read('html.detail');
$meta_description = Configure::read('html.detail');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$this->Html->script('/js/follower.js', array('inline' => false));
$this->Html->script('/js/page.js', array('inline' => false));

$script_area = <<< EOF
  $(document).ready(function(){
    if ($('.error-message').text() == '') {
      $('.error-message').remove();
    }
  });
EOF;
$this->assign('script_area', $script_area);

$arrItem = $arrData['Item'];
$arrMember = $arrData['Member'];

?>

<section class="item-box-container l-single-container">
    <h1 class="item-name"><?= h($arrItem['title']) ?></h1>
    <div class="item-main-content clearfix">
        <?= $this->Form->create('Item', array('url' => '/item/password', 'role'=>'form' )); ?>

        <?= $this->Form->input('id', array('label' => false, 'type' => 'hidden', 'value' => $arrData['Item']['id'], )) ?>
        <div class="form-group">
            <label>パスワード</label>
            <?= $this->Form->input('password', array('label' => false, 'div' => false, 'type' => 'password', 'size' => 20, 'class' => 'input-default', )) ?>
        </div>
        <p class="error-message"><?= $this->Session->flash('auth'); ?></p>

        <button type="submit" class="btn-default btn-red" style="margin-top: 18px">認証する</button>

        <?= $this->Form->end(); ?>
    </div>
</section>


<div class="items-in-user-profile">
    <section class="items-box-container clearfix related-item-column items-in-user-profile">
        <h2 class="items-box-head">
            この商品を買った人はこんな商品も買っています
        </h2>
        <div class="items-box-content clearfix">
            <?php foreach($arrLikeData as $row): ?>
            <?= $this->element('item_02', ['row' => $row]) ?>
            <?php endforeach; ?>
        </div>
    </section>

    <section class="items-box-container clearfix related-item-column">
        <h2 class="items-box-head">
            この出品者の人気商品
        </h2>
        <div class="items-box-content clearfix">
            <?php foreach($arrSaleRanking as $row): ?>
            <?= $this->element('item_02', ['row' => $row]) ?>
            <?php endforeach; ?>
        </div>
    </section>

    <section class="items-box-container clearfix related-item-column">
        <h2 class="items-box-head">
            最近閲覧した商品
        </h2>
        <div class="items-box-content clearfix">
            <?php foreach($arrBrowse as $row): ?>
            <?= $this->element('item_02', ['row' => $row]) ?>
            <?php endforeach; ?>
        </div>
    </section>
</div>
