<?php
$meta_title = Configure::read('page.main');
$meta_keywords = Configure::read('page.main');
$meta_description = Configure::read('page.main');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$code_area = <<< EOF
EOF;
$this->assign('script_area', $code_area);
?>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">

<div class="main__slider">
    <div class="main__slide" style="background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/top-banner-sale-fee-free-034ec8d0642f5714a26822988195b62c.png)"></div>
    <div class="main__slide" style="background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/top-banner-main-892151cc75b1f6a1285bf7943c9b933c.jpg)"></div>
    <div class="main__slide" style="background-image: url(https://web-jp-assets.mercdn.net/_next/static/images/top-banner-camp-4f3fd88c685e8932d7dde2ad3a8336ba.jpg)"></div>
</div>

<div class="main">
  <div class="main_1">

    <div class="main__category">
      <h2 class="main__category__title common__font__family heading__01 res__font__size__01">
        人気のカテゴリー
      </h2>

      <div class="main__category__tags">
        <ul class="main__category__tags__list">
          <?php foreach($arrCategory as $key=>$row): ?>
          <li class="main__category__tag__item">
            <a href="/item/category/<?= $key ?>" class="main__category__tag__item__link"><?= $key ?></a>
            <a href="/item/category/<?= $key ?>" class="sp__main__category__tag__item__link"><?= $key ?></a>
          </li>
          <?php endforeach; ?>
        </ul>
      </div>
    </div>

    <div class="main__product__images">
      <div class="main__product__list">
        <div class="main__product__list__name">
          <h3 class="heading__01 common__font__family res__font__size__01 common__flex">
            新着商品
          </h3>
          <a href="/item/newData_rank" class="more__link">
            もっと見る
          </a>
        </div>
        <div class="main__product__list__list">
          <div>
            <ul class="main__product__list__ul">
              <?php foreach($arrNewDatas as $row): ?>
              <?= $this->element('item_01', ['row' => $row]) ?>
              <?php endforeach; ?>
            </ul>
          </div>
        </div>
      </div>

      <div class="main__product__list">
        <div class="main__product__list__name">
          <h3 class="heading__01 common__font__family res__font__size__01 common__flex">
            PICK UP !!
          </h3>
          <a href="/item/pickup_rank" class="more__link">
            もっと見る
          </a>
        </div>
        <div class="main__product__list__list">
          <div>
            <ul class="main__product__list__ul">
              <?php foreach($arrPickUp as $k => $row): ?>
              <?= $this->element('item_01', ['row' => $row]) ?>
              <?php endforeach; ?>
            </ul>
          </div>
        </div>
      </div>

      <div class="main__product__list">
        <div class="main__product__list__name">
          <h3 class="heading__01 common__font__family res__font__size__01 common__flex">
            商品ランキング
          </h3>
          <a href="/item/sale_rank" class="more__link">
            もっと見る
          </a>
        </div>
        <div class="main__product__list__list">
          <div>
            <ul class="main__product__list__ul">
              <?php foreach($arrSaleRank as $k => $row): ?>
              <?= $this->element('item_01', ['row' => $row]) ?>
              <?php endforeach; ?>
            </ul>
          </div>
        </div>
      </div>

      <div class="main__product__list">
        <div class="main__product__list__name">
          <h3 class="heading__01 common__font__family res__font__size__01 common__flex">
            出品者ランキング
          </h3>
          <a href="/item/seller_rank" class="more__link">
            もっと見る
          </a>
        </div>
        <div class="main__product__list__list">
          <div>
            <ul class="main__product__list__ul">
              <?php foreach($arrSellerRank as $row): ?>
              <?= $this->element('user_item_01', ['row' => $row]) ?>
              <?php endforeach; ?>
            </ul>
          </div>
        </div>
      </div>

      <div class="main__product__list">
        <div class="main__product__list__name">
          <h3 class="heading__01 common__font__family res__font__size__01 common__flex">
            公式アカウント一覧
          </h3>
          <a href="/official" class="more__link">
            もっと見る
          </a>
        </div>
        <div class="main__product__list__list">
          <div>
            <ul class="main__product__list__ul">
              <?php foreach($arrOfficialSeller as $row): ?>
              <?= $this->element('user_item_01', ['row' => $row]) ?>
              <?php endforeach; ?>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
  $(document).ready(function(){
    $('.main__slider').bxSlider({
      mode: 'fade',
      pager: false
    });
  });
</script>

