<?php
$meta_title = Configure::read('html.mypage');
$meta_keywords = Configure::read('html.mypage');
$meta_description = Configure::read('html.mypage');

$this->set('title_for_layout',$meta_title);
$this->Html->meta('keywords', $meta_keywords, array('inline' => false));
$this->Html->meta('description', $meta_description, array('inline' => false));

$this->Html->css('/css/main02.css', null, array('inline' => false));


$this->Html->script('/js/page.js', array('inline' => false));

// 表示件数
$arrDispNum = Configure::read('arrDispNum');

$code_area = <<< EOF
$('#disp_num').change(function() {
$("#ChangeDispNumForm").submit();
});
EOF;
$this->assign('script_area', $code_area);
?>

<form id="searchForm">
  <input type="hidden" name="pg" value="<?= $pg ?>" id="pg" />
</form>
<nav class="bread-crumbs ">
  <ul>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/" itemprop="url">
        <span itemprop="title">トップ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>
    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="/official" itemprop="url">
        <span itemprop="title">公認ショップ</span>
      </a>
      <i class="icon-arrow-right"></i>
    </li>

    <li itemscope="" itemtype="http://data-vocabulary.org/Breadcrumb">
      <a href="#" itemprop="url">
        <span itemprop="title">公式アカウント一覧</span>
      </a>
    </li>
  </ul>
</nav>

<main class="l-container clearfix">
  <div class="l-content full-width">
    <section class="items-box-container clearfix">

      <?php if(!empty($arrDatas['list'])): ?>
      <h1 class="items-box-head">公式アカウント一覧</h1>
      <div class="items-box-content clearfix category-brand-list">
        <?php foreach($arrDatas['list'] as $i => $row): ?>
        <?php
            $img_url = $this->Image->upload_resize('members', $row['Member']['id'], $row['Member']['image_file_name'], 'list_s');
        $img_path = str_replace(WWW_ROOT,'/',$img_url);

        if(!file_exists($img_url) || !$img_path || substr_count($img_path, '.') > 2){
        $img_path = "/img/front_s.png";
        }
        $img_url = $img_path;

        $item_url = "/mypage/sellerinfo/" . $row['Member']['id'];
        if(!empty($row['Member']['company'])) {
        $item_name = h($row['Member']['company']);
        } else {
        $item_name = h($row['Member']['nickname']);
        }
        ?>
        <section class="items-box">
          <a href="<?= $item_url ?>">
            <figure class="items-box-photo">
              <img data-src="<?= $img_url ?>" class=" lazyloaded" alt="ピンキー&amp;ダイアンのブラウス" src="<?= $img_url ?>">
            </figure>
            <div class="items-box-body">
              <h3 class="items-box-name font-2"><?= $item_name ?></h3>
            </div>
          </a>
        </section>
        <?php endforeach; ?>
      </div>
      <?php else: ?>
      <h1 class="items-box-head">データがありません。</h1>
      <?php endif; ?>
    </section>

    <ul class="pager">
      <?php if($pg > 1): ?>
      <li class="pager-prev visible-pc">
        <ul>
          <li class="pager-cell">
            <a href="#" onclick="toPage(1)">
              <i class="icon-arrow-double-left"></i>
            </a>
          </li>
          <li class="pager-cell">
            <a href="#" onclick="toPage(<?=$pg - 1 ?>)">
              <i class="icon-arrow-left"></i>
            </a>
          </li>
        </ul>
      </li>
      <?php endif; ?>

      <li class="pager-num">
        <ul>
          <?php for($page=$pgStart; $page<=$pgEnd; $page++): ?>

          <?php if($page == $pg): ?>
          <li class="pager-cell active">
            <?= $page ?>
          </li>
          <?php else: ?>
          <li class="pager-cell">
            <a href="#" onclick="toPage(<?= $page ?>)"><?= $page ?></a>
          </li>
          <?php endif; ?>

          <?php endfor; ?>
        </ul>
      </li>

      <?php if($pg < $pgTot): ?>
      <li class="pager-next visible-pc">
        <ul>
          <li class="pager-cell">
            <a href="#" onclick="toPage(<?= $pg + 1?>)">
              <i class="icon-arrow-right"></i>
            </a>
          </li>
          <li class="pager-cell">
            <a href="#" onclick="toPage(<?= $pgTot ?>)">
              <i class="icon-arrow-double-right"></i>
            </a>
          </li>
        </ul>
      </li>
      <?php endif; ?>
    </ul>
  </div>
</main>

<script>
  function toPage(pg) {
    $('#pg').attr('value', pg);
    $('#searchForm').submit();
  }
</script>